html{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: #1762a4;
    background-color: #b3d5f2;
    padding: 8px;
}
.text-blue{
    color:#1762a4;
    font-weight: 600;
}
.text-black-bold{
    color:black;
    font-weight: 800;
}
table{
    border-collapse: collapse;
}

th,td,table{
    border: 1px solid #000;
}
tr:nth-child(odd){
    background-color: #ebe1e1;
}
tr:first-child{
    background-color: #fff;
}
img{
    float: right;
    width: 240px;
  }

